.header-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    font-size: 0;
    background-color: #111111;

    z-index: 999;
}

.header__nav {
    font-size: 18px;
    line-height: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 956px;
    width: 100%;

    padding-left: 15px;
}

.header__basket {
    position: relative;
    margin-right: 24px;
    width: 32px;
    height: 32px;
}

.header__basket--accent::before {
    content: url("../images/basket-accent.svg");
    position: absolute;
    bottom: -5px;
    right: -8px;
    width: 16px;
    height: 16px;
}

.header .header-wrapper {
    padding: 23px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-screen {
    width: 100%;
    height: 100vh;
    min-height: 870px;
    max-height: 1080px;
    background-color: #FCDA28;

}

.first-screen__wrapper {
    position: relative;
    max-width: 1310px;
    margin: 0 auto;
    padding-top: 186px;

}

.first-screen__title {
    margin-bottom: 30px;
}

.first-screen__text {
    position: absolute;
    z-index: 100;
}

.first-screen__text p {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;

    max-width: 650px;
}

.first-screen__subtitle {
    margin-top: 110px;
}
.first-screen__subtitle h3 {
    margin-bottom: 8px;
}

.first-screen__subtitle span {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    display: block;
    max-width: 350px;
}

.first-screen__image {
    position: absolute;
    top: 0;
    right: -64px;
}

@media screen and (max-width: 1440px) {
    .header__nav{
        width: 100%;
        padding: 0 40px;
    }

    .first-screen__wrapper{
        height: 100%;
        width: 1240px;
        padding-left:20px;
        padding-right: 20px;
    }

    .first-screen__image {
        width: 700px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .first-screen__title{
        max-width: 600px;
    }
}

@media screen and (max-width: 1280px){

    .header .header-wrapper{
        padding: 20px 25px;
    }
    .header__nav{
        display: none;
    }
    .header__basket{
        display: none;
    }

    .first-screen {
        max-height: 600px;
    }
    .first-screen__wrapper{
        width: 100%;
    }
    .first-screen__title{
        font-size: 8vw;;
        line-height: 10vw;
    }
    .first-screen__subtitle{
        margin-top: 80px;
    }
    .first-screen__text p{
        max-width: 500px;
    }
    .first-screen__image {
        width: 60vw;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }


}

@media screen and (max-width: 764px){
    .first-screen {
        height: auto;
        max-height: none;
    }
    .first-screen__wrapper{
        height: auto;
    }
    .first-screen__text{
        width: 100%;
        display: block;
        position: static;
        text-align: center;
    }
    .first-screen__text p, span{
        max-width: 100%;
    }
    .first-screen__title{
        max-width: 100%;
        font-size: 10vw;
        line-height: 14vw;
    }
    .first-screen__image {
        display: block;
        position:static;
        width: 100%;
        transform: translateY(60px);
    }
    .first-screen__subtitle span{
        max-width: 100%;
    }
}