* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobile{
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition-duration: .2s;
}

a:hover {
    color: #FCB500;
}

h1{
    font-size: 144px;
    font-weight: 700;
    line-height: 152px;
}
h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
}
h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
}

ul,
li {
    list-style: none;
}

button{
    cursor: pointer;
    padding: 18px 34px;
    background-color: #FCB500;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    min-width: 256px;
    border-radius: 7px;
}

.col-white {
    color: #fff;
}

.col-black {
    color: #000;
}

.col-accent {
    color: #FCB500
}

body {
    background-color: #111111;
    font-family: 'Rubik';
    color: white;
    height: 200vh;
}

.container {
    width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

@media screen and (max-width: 1440px){
    h1 {
        font-size: 92px;
        line-height: 112px;
    }

    h3{
        font-size: 36px;
        font-weight: 700;
        line-height: 43px;
    }
}

@media screen and (max-width: 1280px){
    .mobile{
        display: block;
    }

    .container{
        width: 100%;
        padding: 0 20px;
    }

    h1{
        font-size: 84px;
        line-height: 96px;
    }
    h2{
        font-size: 42px;
        line-height: 54px;
    }

    .burger{
        position: relative;
        background: none;
        min-width: none;
        border: none;
        padding: 0 0!important;
        min-width: 0;

        width: 30px;
        height: 26px;
    }
    .burger .burger__line{
        transition-duration: .4s;
        background-color: #a2a2a2;
    }
    .burger:hover .burger__line{
        background-color: #fff;
    }
    .burger__line{
        position: absolute;
        width: 100%;
        height: 2px;
    }
    .burger__line--1{
        top: 0;
    }
    .burger__line--2{
        top: 12px;
    }
    .burger__line--3{
        bottom: 0;
    }
}


@media screen and (max-width: 764px){
    h1 {
        font-size: 84px;
        line-height: 96px;
    }
    h2 {
        font-size: 34px;
        line-height: 42px;
    }
}   
