@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Regular.eot');
    src: url('Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('Rubik-Regular.svg#Rubik-Regular') format('svg'),
        url('Rubik-Regular.ttf') format('truetype'),
        url('Rubik-Regular.woff') format('woff'),
        url('Rubik-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Bold.eot');
    src: url('Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        url('Rubik-Bold.svg#Rubik-Bold') format('svg'),
        url('Rubik-Bold.ttf') format('truetype'),
        url('Rubik-Bold.woff') format('woff'),
        url('Rubik-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
